# Vercel dashboard > Settings > Environment Variables ga qo'shing
# .env faylini hech qachon GitHub ga push qilmang!

TELEGRAM_BOT_TOKEN=7950739325:AAEuod4VfHq06PQbCrMNyzZ_phb4IecmVkw
TELEGRAM_CHAT_ID=your_chat_id_here

# KV_REST_API_URL va KV_REST_API_TOKEN — Vercel KV yaratganda avtomatik qo'shiladi
